.center {
    margin: auto;
    text-align: center;
}

.right {
    margin-left: auto;
    text-align: center;
}

.previewTab {
    height: 500px;
    width: 700px;
}

.previewHtml {
    height: 400px;
    width: 700px;
}

#react-tabs-3 {
    max-height: 400px;
    overflow-y: auto;
}

.title {
    margin-top: 1em;
    margin-bottom: 2em;
}

form {
    display: grid !important;
}

.form-bbcode {
    display: grid !important;
    margin-top: 25px;
}

.form-bbcode textarea {
    min-height: 100px;
}

.form-conf {
    margin-top: 30px;
}

.form-conf select{
    margin-left: 10px;
}

.form-customConf {
    display: grid !important;
    margin-top: 15px;
}

.form-customConf textarea {
    min-height: 110px;
}

.hidden {
    display: none !important;
}

.form-submit {
    margin-top: 30px;
    width: 70%;
    margin-left: 15%;
}

.textAreaError {
    border-color: red;
}